body {
  padding: 0px;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

#map {z-index: 1;}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.legend {
  background-color: “white”;
  line-height: 25px;
  color: "black";
  width: auto;
}
.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

